@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: #545454;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #40916c;
}

::selection {
  color: white;
  background: #40916c;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Webkit browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #40916d64;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #52b788;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #40916c;
}

@media (max-width: 768px) {
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #52b788 #40916d64;
}

.slider-dot {
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.slick-dots {
  bottom: 0 !important;
}
.flip-horizontal {
  transform: scaleX(-1);
}
.two-line-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-slide > div {
  width: 100%;
}
.slick-slide div {
  outline: none;
}
.slick-dots li {
  width: 10px !important;
  height: 20px !important;
}
.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.react-calendar {
  width: 100%;
  color: #545454;
  line-height: 1.125em;
  border: none;
}
.react-calendar__navigation button {
  color: #40916c;
  min-width: 44px;
  background: none;
  font-size: 16px;
  padding: 8px 0 8px 0;
  border-radius: 6px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #d8f3dc;
}
.react-calendar__navigation button[disabled] {
  background-color: rgb(209 213 219 / 20%);
}
abbr[title] {
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__tile:disabled {
  background-color: rgb(209 213 219 / 20%);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #40916c;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #40916c33;
  border-radius: 6px;
  font-weight: bold;
  color: #40916c;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #40916c33;
  border-radius: 6px;
  font-weight: bold;
  color: #40916c;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  /* background: #f8f8fa; */
}
.react-calendar__tile--active {
  background: #40916c;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #40916c;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #40916c;
  border-radius: 6px;
}
.react-calendar__tile--rangeStart {
  border-radius: 6px;
  background: #40916c;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-radius: 6px;
  background: #40916c;
  color: white;
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

@layer components {
  body {
    @apply text-primary-text bg-[#ecffef] m-auto;
  }
  .screen-padding {
    @apply px-2 sm:px-6 lg:px-16;
  }
  .screen-padding-l {
    @apply pl-2 sm:pl-6 lg:pl-16;
  }
  .slider-dot {
    @apply w-1.5 h-1.5 rounded-full bg-primary-100 cursor-pointer transition-all duration-300;
  }
  .slider-dot.active {
    @apply bg-primary transform scale-150;
  }
  .error {
    @apply text-red-500 text-sm font-semibold block;
  }
  .label {
    @apply block text-sm font-bold mb-2;
  }
  .input {
    @apply appearance-none bg-white outline-none h-10 rounded-md shadow-md w-full px-2 leading-tight focus:outline-none;
  }
  .input__bg {
    @apply appearance-none bg-primary-100 border border-gray-300 focus:border-primary focus:border-2 outline-none h-10 rounded-md w-full leading-tight focus:outline-none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
