@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: #545454;
  background: #d8f3dc;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider-dot {
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.slick-dots {
  bottom: 0 !important;
}

@layer components {
  body {
    @apply text-primary-text bg-[#d8f3dc] m-auto;
  }
  .screen-padding {
    @apply px-5 sm:px-8 lg:px-16;
  }
  .md-screen-padding {
    @apply px-0 sm:px-8 lg:px-16;
  }
  .screen-padding-l {
    @apply pl-5 sm:pl-8 lg:pl-16;
  }
  .slider-dot {
    @apply w-2 h-2 rounded-full bg-primary-100 cursor-pointer transition-all duration-300;
  }
  .slider-dot.active {
    @apply bg-primary transform scale-150;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
